.subject-page-root {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .subject-center {
    display: flex;
  }

  .subject {
    min-width: 450px;
    max-width: 600px;
  }